.userInfoWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    color: rgba(75, 80, 240, .9);
    background: #fff;
    padding: 15px;
}

.userInfoWrapper + .userInfoWrapper {
    margin: 10px 0;
}

.userSubscribeBtn {
    height: 30px;
    width: 100px;
    border: 1px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    color: rgba(75, 80, 240, .9);
    background: #fff;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .15s linear;
}

.followBtn:hover {
    color: #fff;
    background: rgba(75, 80, 240, .8);
}

.unFollowBtn:hover {
    color: #fff;
    background: rgba(221, 20, 61, .8);
}

.userInfoContainer {
    min-height: 100px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(75, 80, 240, .3);
    border-radius: 5px;
    color: rgba(221, 20, 61, .8);
    padding: 15px;
}

.infoWrapperImg {
    border-radius: 50%;
    width: 100px;
}

.userInfoContainer .info {
    display: flex;
    margin: 0 20px;
    min-width: 100px;
    padding: 5px 0;
}

.userInfoContainer .location {
    display: flex;
    margin: 0 10px;
    min-width: 100px;
    padding: 5px 0;
}

.info p {
    margin-left: 10px;
    color: rgba(75, 80, 240, .9);
}

.location p {
    margin-left: 10px;
    color: rgba(75, 80, 240, .9);
}

/* For React-Paginate */
.reactPaginate {
    display: flex;
    height: 50px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    outline: none;
}

.reactPaginationBtn {
    font-size: 21px;
    transition: all 0.3s ease;
}

.reactPaginate > li > a {
    margin: 0 5px;
    border: 1px solid rgba(75, 80, 240, .7);
    border-radius: 5px;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
}

.reactPaginate > .reactPaginationBtn > a, .reactPaginate > .reactPaginationBtn > span, .reactPaginate > .reactPaginationBtn > a:hover, .pagination > .reactPaginationBtn > span:hover, .reactPaginate > .reactPaginationBtn > a:focus, .reactPaginate > .reactPaginationBtn > span:focus {
    background-color: rgba(75, 80, 240, .9);
    color: #fff;
    border: 1px solid rgba(75, 80, 240, .7);
    border-radius: 5px;
    outline: none;
}

.reactPaginate > li:first-child > a, .reactPaginate > li:first-child > span, .reactPaginate > li:last-child > a, .reactPaginate > li:last-child > span {
    border-radius: 5px;
    color: rgba(75, 80, 240, .5);
    transition: all 0.3s ease;

}
.reactPaginate > li:hover > a, .reactPaginate > li:hover > span, .reactPaginate > li:focus > a, .reactPaginate > li:focus > span {
    background-color: rgba(75, 80, 240, .9);
    color: #fff;
    border: 1px solid rgba(75, 80, 240, .9);
    transition: all 0.3s ease;

}
.reactPaginate > li:active > a, .reactPaginate > li:active > span, .reactPaginate > li:focus > a, .reactPaginate > li:focus > span {
    background-color: rgba(75, 80, 240, .3);
    border: 1px solid rgba(75, 80, 240, .3);
}

/* For my pagination */
.myPaginationBtn {
    margin: 5px;
    width: 70px;
    height: 30px;
    padding: 0 1%;
    border: 1px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    color: rgba(75, 80, 240, .9);
    font-size: 16px;
    background: inherit;
    cursor: pointer;
    transition: all 0.2s ease;
}

.myPaginationBtnActive {
    margin: 0 5px;
    padding: 0 1%;
    border-radius: 5px;
    color: rgba(75, 80, 240, .9);
    background: inherit;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 80px;
    height: 40px;
    font-size: 21px;
    border: 1px solid rgba(221, 20, 61, .7);
}