.usersContainer {
    background-color: ghostwhite;
    min-height: 100%;
    padding: 20px 50px;
}

.usersContainer h2 {
    font-size: 32px;
    font-weight: 100;
    color: rgba(75, 80, 240, .9);
    width: 160px;
    margin-bottom: 20px;
}

.usersField {
    border-top: 1px solid rgba(75, 80, 240, .4);
    color: rgba(75, 80, 240, .9);
    text-align: center;
}

.usersContainerBtn {
    height: 50px;
    width: 300px;
    border: 1px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    color: rgba(75, 80, 240, .9);
    background: #fff;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.usersContainerBtn:hover {
    color: #fff;
    background: rgba(75, 80, 240, .9);
}

.users {
    padding: 5px;
}

.usersItem {
    margin: 40px 0 0 20px;
}

.usersBlock {
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    height: 50px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    outline: none;
}

.paginationBtnSelect {
    font-size: 21px;
    transition: all 0.3s ease;
}

.pagination > li > a {
    margin: 0 5px;
    border: 1px solid rgba(75, 80, 240, .7);
    border-radius: 5px;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
}

.pagination > .paginationBtnSelect > a, .pagination > .paginationBtnSelect > span, .pagination > .paginationBtnSelect > a:hover, .pagination > .paginationBtnSelect > span:hover, .pagination > .paginationBtnSelect > a:focus, .pagination > .paginationBtnSelect > span:focus {
    background-color: rgba(75, 80, 240, .9);
    color: #fff;
    border: 1px solid rgba(75, 80, 240, .7);
    border-radius: 5px;
    outline: none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 5px;
    color: rgba(75, 80, 240, .5);
    transition: all 0.3s ease;

}
.pagination > li:hover > a, .pagination > li:hover > span, .pagination > li:focus > a, .pagination > li:focus > span {
    background-color: rgba(75, 80, 240, .9);
    color: #fff;
    border: 1px solid rgba(75, 80, 240, .9);
    transition: all 0.3s ease;

}
.pagination > li:active > a, .pagination > li:active > span, .pagination > li:focus > a, .pagination > li:focus > span {
    background-color: rgba(75, 80, 240, .3);
    border: 1px solid rgba(75, 80, 240, .3);
}