.usersContainer {
    background-color: ghostwhite;
    min-height: 100%;
    padding: 20px 50px;
}

.usersContainer h2 {
    font-size: 32px;
    font-weight: 100;
    color: rgba(75, 80, 240, .9);
    width: 160px;
    margin-bottom: 20px;
}

.usersField {
    border-top: 1px solid rgba(75, 80, 240, .4);
    color: rgba(75, 80, 240, .9);
    text-align: center;
}

.usersItems {
    padding: 5px;
}

/* For React-Paginate */
.reactPaginate {
    display: flex;
    height: 50px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    outline: none;
}

.reactPaginationBtn {
    font-size: 21px;
    transition: all 0.3s ease;
}

.reactPaginate > li > a {
    margin: 0 5px;
    border: 1px solid rgba(75, 80, 240, .7);
    border-radius: 5px;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
}

.reactPaginate > .reactPaginationBtn > a, .reactPaginate > .reactPaginationBtn > span, .reactPaginate > .reactPaginationBtn > a:hover, .pagination > .reactPaginationBtn > span:hover, .reactPaginate > .reactPaginationBtn > a:focus, .reactPaginate > .reactPaginationBtn > span:focus {
    background-color: rgba(75, 80, 240, .9);
    color: #fff;
    border: 1px solid rgba(75, 80, 240, .7);
    border-radius: 5px;
    outline: none;
}

.reactPaginate > li:first-child > a, .reactPaginate > li:first-child > span, .reactPaginate > li:last-child > a, .reactPaginate > li:last-child > span {
    border-radius: 5px;
    color: rgba(75, 80, 240, .5);
    transition: all 0.3s ease;

}
.reactPaginate > li:hover > a, .reactPaginate > li:hover > span, .reactPaginate > li:focus > a, .reactPaginate > li:focus > span {
    background-color: rgba(75, 80, 240, .9);
    color: #fff;
    border: 1px solid rgba(75, 80, 240, .9);
    transition: all 0.3s ease;

}
.reactPaginate > li:active > a, .reactPaginate > li:active > span, .reactPaginate > li:focus > a, .reactPaginate > li:focus > span {
    background-color: rgba(75, 80, 240, .3);
    border: 1px solid rgba(75, 80, 240, .3);
}
