.postsBlock {
    color: #ff80ab;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding-left: 5%;
}

p {
    font-size: 30px;
    padding-left: 5%;
}

textarea {
    width: 80%;
    height: 80px;
    padding: 0 10% 0 5%;
}


.post {
    margin-top: 20px;
}
