.postField {
    color: rgba(75, 80, 240, .9);
    font-family: 'Montserrat', sans-serif;
    padding: 0 50px;
}

.postField h3 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 15px;
}

.postField p {
    font-size: 26px;
}

.postField textarea{
    height: 100px;
    width: 100%;
    padding: 5px;
    border: 2px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    margin-bottom: 10px;
    resize: none;
}
.postField textarea:focus{
    border: 2px solid crimson;
}

.postField button{
    background: rgba(75, 80, 240, .9);
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    right: 55px;
    outline: none;
}
.postField button:hover {
    background: rgba(221, 20, 61, .9);
}
.postField button:active{
    background: rgba(221, 20, 61, .6);
}


.postsBlock {
    margin-top: 75px;
    padding: 5px 0;
}
