.nav {
    grid-area: nav;
    background: ghostwhite;
}

.item {
    padding: 17px 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
}

.item:hover {
    background-color: rgba(97, 97, 97, .1);
}

