.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    color: rgba(75, 80, 240, .9);
    background: #fff;
    padding: 10px 15px;
}

.item + .item {
    margin: 10px 0;
}

.ava_wrapper {
    text-align: center;
    padding: 5px;
}

.ava_item {
    width: 100px;
    border-radius: 50%;
}

.body_wrapper {
    text-align: center;
    padding: 5px 15px;
}

.post_body_item {
    width: 55vh;
    word-wrap: break-word;
}

.like_wrapper {
    text-align: center;
    padding: 5px;
}

.like_item {
    color: crimson;
}