.item img {
    margin: 0 15px 0 0;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px;
}

.item {
    padding: 0 0 15px 5%;
    color: deepskyblue;
}

.like {
    padding: 10px 0 0 75px;
    color: #757575;
}