/* Body page */
.head {
    height: 250px;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1611811024317-3759d98c31b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80) center center/cover no-repeat;
    opacity: .8;
}

.wrapper {
    padding: 0 50px;
}

/* Avatar */
.mediaBlock {
    display: flex;
    position: relative;
    top: -165px;
    height: 0;
}

.photosBlock {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid rgba(75, 80, 240, .3)
}

.photosBlock img {
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
    border-radius: 50%;
}

/* Status block */

.statusBlock {
    min-width: 20%;
    max-width: 60%;
    min-height: 20px;
    margin-left: 35px;
}

.bubble1 {
    position: relative;
    top: -20px;
    left: -25px;
    background-color: rgba(75, 80, 240, .7);
    border: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.bubble2 {
    position: relative;
    top: -25px;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color: rgba(75, 80, 240, .8);
    border: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
    border-radius: 50%;
}

.statusDescr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 30px;
    max-height: 70px;
    position: relative;
    top: -20px;
    left: 10px;
    border-radius: 50px;
    background-color: rgba(75, 80, 240, .9);
    border: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
    padding: 10px 15px;
}

.statusDescr input {
    width: 100%;
    background: ghostwhite;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
}

.statusDescr .changeStatusBtn {
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, .9);
    border-radius: 10px;
    background-color: rgba(75, 80, 240, .9);
    padding: 4px 10px;
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
    transition: all .3s ease;

}

.statusDescr .changeStatusBtn:hover {
    background-color: rgba(221, 20, 61, .9);
    border: 1px solid rgba(221, 20, 61, .9);
    transition: all .3s ease;
}

/* Job Block */
.infoBlock {
}

.jobBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 15px;
}

.openJobStatus {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: rgba(50, 50, 50, .9);
}

.jobDescr {
    min-height: 30px;
    min-width: 100px;
    padding: 5px 15px;
    text-align: center;
    background: rgba(221, 20, 61, .9);
    color: #fff;
    border-radius: 10px;
}

.circleIndicatorActive {
    width: 20px;
    height: 20px;
    background-color: rgba(78, 232, 78, .8);
    border-radius: 50%;
}

.circleIndicatorNot {
    width: 20px;
    height: 20px;
    background-color: rgba(221, 20, 61, .8);
    border-radius: 50%;
}

/* Info Block */

.userInfoBlock {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, .5);
    border: 1px solid rgba(75, 80, 240, .4);;
}

.aboutMe {
    min-height: 100px;
}

.aboutMeTitle {
    color: rgba(75, 80, 240, .8);
}

.nameBlock {
    margin-top: 10px;
    margin-left: 20%;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    color: #fff;
}

.nameBlock h4 {
    min-height: 40px;
    background-color: rgba(75, 80, 240, .9);
    border-radius: 10px;
    padding: 5px;
    font-size: 24px;
}

.linkBlock a {
    padding: 0 10px;
    outline: none;
    transition: all .6s ease;
    cursor: pointer;
}

.linkBlock a:hover {
    font-weight: bold;
    padding: 0 20px;
    outline: none;
    transition: all .3s ease;
}