.userLoading{
    max-height: 80%;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner img {
    min-height: 10%;
    max-height: 80%;
    padding: 20%;
}
