.loginContainer {
    min-height: 100%;
    background: ghostwhite;
    padding: 20px 50px;
}

.loginFormContainer {
    background: #fff;
    margin: 10% auto 0;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}

.loginFormContainer h2 {
    padding: 15px 20px;
    width: 100%;
    margin: 0 auto 30px;
    border-radius: 20px 20px 0 0;
    background: rgba(75, 80, 240, .9);
    color: #fff;
}

.login input {
    text-align: center;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(75, 80, 240, .9);
    outline: none;
    margin-bottom: 10px;
}
.captcha{
    padding:0 0 20px;
}
.captcha input {
    text-align: center;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(75, 80, 240, .9);
    outline: none;
    margin-bottom: 10px;
}

.password input {
    text-align: center;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(75, 80, 240, .9);
    outline: none;
    margin-bottom: 10px;
}

.checkbox {

}

.btnBlock {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
}

.submitBtn {
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, .9);
    border-radius: 10px;
    background-color: rgba(75, 80, 240, .9);
    padding: 7px 10px;
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
    transition: all .3s ease;
}

.submitBtn:hover {
    background-color: rgba(75, 176, 80, .9);
    border: 1px solid rgba(75, 176, 80, .9);
    transition: all .3s ease;
}

.cancelBtn {
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, .9);
    border-radius: 10px;
    background-color: rgba(75, 80, 240, .9);
    padding: 7px 10px;
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
    transition: all .3s ease;
}

.cancelBtn:hover {
    background-color: rgba(221, 20, 61, .9);
    border: 1px solid rgba(221, 20, 61, .9);
    transition: all .3s ease;
}

.error_msg_summary {
    margin: 0 auto;
    width: 100%;
    border: 1px solid crimson;
    border-radius: 0 0 20px 20px;
    color: crimson;
    padding: 10px 15px;
    background: rgba(255, 0, 0, .1);
}