.app-wrapper {
    font-family: 'Montserrat', sans-serif;
    width: content-box;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: content;
}

a {
    text-decoration: none;
    color: rgba(75, 80, 240, .9);
}

a.active {
    color: crimson;
    text-decoration: none;
}





