* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(50, 50, 50, .9);
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: 'Montserrat', sans-serif;
}
