.dialogsContainer {
    background-color: ghostwhite;
    min-height: 100%;
    padding: 20px 50px;
}
.dialogsContainer h2{
    font-size: 32px;
    font-weight: 100;
    color: rgba(75, 80, 240, .9);
    width: 160px;
    margin-bottom: 20px;
}


.dialogsField {
    display: grid;
    grid-template-columns: 5fr 10fr;
    padding: 10px 20px;
    border-top: 1px solid rgba(75, 80, 240, .4);
}

.dialogs {
}

.dialogItem {
    margin: 10px 0;
}

.messages {
}

.messageItem {
    margin: 10px 0;
}

.textField {
    width: 100%;
    padding-top: 30px;
}

.textField textarea {
    height: 150px;
    width: 100%;
    padding: 5px 10px;
    border: 2px solid rgba(75, 80, 240, .9);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    resize: none;
}

.textField textarea:focus {
    border: 2px solid crimson;
}

.textField button {
    background: rgba(75, 80, 240, .9);
    width: 150px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
    margin-top: 20px;
}

.textField button:hover {
    background: rgba(221, 20, 61, .9);
}

.textField button:active {
    background: rgba(221, 20, 61, .6);
}