.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;

}
.dialogsItem .active{
    color: #ff80ab;
}

.messages {
    padding: 10px;

}

.messages .message {

}