.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-left: 5%;
}

.dialogsItem {
    font-size: 20px;
    padding: 20px 0 10px 0;
}

.messages {
    font-size: 20px;
    padding: 20px 0 10px 10%;
    color: #ff80ab;
}